[data-amplify-authenticator] {
  --amplify-colors-background-primary: #0b1437;
  --amplify-colors-background-secondary: #111c44;
  --amplify-colors-brand-primary-80: #dc2626;
  --amplify-colors-font-primary: #ffffff;
}
